<!DOCTYPE html>
<html lang="en">
<head> 
  <link rel="stylesheet" type="text/css" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/mdb.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta charset="UTF-8">
	<title>lauvin - Acceuil</title>
</head>
<body>
<!--Navbar -->
<% include ../partials/_header%>
  <!--/.Navbar -->
<a id="button"><i class="fas fa-arrow-up"></i></a>
<div id="fond0">
    <div class="overlay">
      <h3 class="title0 title1">Bienvenue chez lauvin</h3>
      <div class="container services">
        <div class="row">
          <p class="after">Nos services</p>
        </div>
          <div class="row">

            <!-- Card deck -->
            <div class="card-deck">
                <!-- Card -->
                <div class="card mb-2">
  
                  <!--Card image-->
                  <div class="view overlay">
                    <img style="height: 90%;"class="card-img-top" src="/img/undraw_aircraft_fbvl.png" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
  
                  <!--Card content-->
                  <div class="card-body">
  
                    <!--Title-->
                    <h4 class="card-title">Lauvin Voyage</h4>
                    <!--Text-->
                    <p class="card-text"></p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <a href="#fond1" class="btn btn-light-blue btn-md">Voir</a>

                  </div>
  
                </div>
                <!-- Card -->
  
                <!-- Card -->
                <div class="card mb-2">
  
                  <!--Card image-->
                  <div class="view overlay">
                    <img style="height: 90%;"class="card-img-top" src="/img/undraw_fishing_hoxa.png" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
  
                  <!--Card content-->
                  <div class="card-body">
  
                    <!--Title-->
                    <h4 class="card-title">Lauvin Piscicole</h4>
                    <!--Text-->
                    <p class="card-text"></p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <a href="#fond2"class="btn btn-light-blue btn-md">Voir</a>
  
                  </div>
  
                </div>
                <!-- Card -->
  
                <!-- Card -->
                <div class="card mb-2">
  
                    <!--Card image-->
                    <div class="view overlay">
                      <img style="height: 90%;"class="card-img-top" src="/img/undraw_houses3_xwf7.png" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
      
                    <!--Card content-->
                    <div class="card-body">
      
                      <!--Title-->
                      <h4 class="card-title">Lauvin immobilier</h4>
                      <!--Text-->
                      <p class="card-text"></p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <a href="#fond1" class="btn btn-light-blue btn-md">Voir</a>
    
                    </div>
      
                  </div>
                <!-- Card -->
                <div class="card mb-2">
  
                    <!--Card image-->
                    <div class="view overlay">
                      <img style="height: 90%;"class="card-img-top" src="/img/undraw_online_wishes_dlmr.png" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
    
                    <!--Card content-->
                    <div class="card-body">
    
                      <!--Title-->
                      <h4 class="card-title">Lauvin Technologie</h4>
                      <!--Text-->
                      <p class="card-text"></p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <a href="#fond1" class="btn btn-light-blue btn-md">Voir</a>
  
                    </div>
    
                  </div>
              </div>
              <!-- Card deck -->
          </div>
      </div>
</div>
<div id="fond1">
  <div class="overlay1">
    <p>Londre , New-york , Paris ou encore Dubai ....<br>Envollez vous pour les meilleurs destinations du monde.</p>
    <h3 class="title1">lauvin voyage</h3>
    <a class="btn btn-default"href="#">Accédez à notre agence <i class="fas fa-arrow-right"></i></a>
  </div>
</div>
<div class="col-md-12"id="fond2">
    <div class="overlay1">
      <p>Nous nous sommes engagés à vous offrir une production 100% bio .<br>Pofitez en dès maintenant ainsi que des produits de notre chambre froide</p>
    <h3 class="title1">lauvin piscicole</h3>
    <a class="btn btn-default"href="#">visitez notre plateforme <i class="fas fa-arrow-right"></i></a>
  </div>
</div>
<div class="col-md-12"id="fond4">
    <div class="overlay1">
      <p>Si vous voulez vendre ,acheter ou louer une maison<br> ou un terrain ou encore trouver des conseils en matière de decoration <br>vous etes au bon endroit ici .<br> visitez notre agence</p>
      <h3 class="title1">lauvin immobilier</h3>
   <a class="btn btn-default"href="#">Accédez à notre agence <i class="fas fa-arrow-right"></i></a>
  </div>
</div>
<div class="col-md-12"id="fond3">
    <div class="overlay1">
      <p>Profitez des meilleurs prix sur nos équipements <br>informatiques , électroniques et électromenagers<br>Alors rendez-vous sur notre store et repartez heureux .</p>
      <h3 class="title1">lauvin Technologie</h3>
    <a class="btn btn-default"href="#">Visitez notre Boutique <i class="fas fa-arrow-right"></i></a>
  </div>
</div>
<div class="col-md-12"id="fond5">
    <div class="overlay1">
      <h3 class="title">à propos de lauvin</h3>
      <p>Lauvin est une entreprise créee en 2016 .
        Specialisée dans la ferme piscicole ,<br> nous nous sommes données pour mission d'offrir une production locale de qualité aux consommateurs. <br>
    <br>Au fil des années nos activités se sont diversifiées <br>dans les nouvelles technologies,le voyage ,et l'immobilier.</p>
        <p> Abonnez-vous pour etre informé de notre actualité et ne rien manquer de nos offres </p>
<div class="copy">&copy Lauvin 2019 Tous droits réservés </div>
  </div>
</div>
    </div>
  </div>
</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script>
jQuery(document).ready(function() {
  var boutton= $('#button')
  $(window).scroll(function() {
    if ($(window).scrollTop()>300) {
      boutton.fadeIn()
    } else {
     boutton.fadeOut()
    }
  });
  boutton.click(function(e){
      e.preventDefault();
    $('html, body').animate({scrollTop:0}, '2000');
    scroll=0
  })
});
</script>
<script src="/js/query-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mdb.min.js"></script>
</body>
</html>